.searchTitle {
    font-size: 1.6rem;
    color: rgb(156, 156, 245);
    align-self: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    gap: 24px;

    list-style: none;
    padding: 0;
    margin: 0;
}


.card {
    max-width: 480px;
    /* width: 100%; */
    background: #414149;
    color: #e0e0e0;
    position: relative;
    border: 1px solid rgba(202, 60, 155, 0.35);
    border-radius: 14px;

    padding: 15px;
    text-align: center;

    /* display: flex;
    flex-direction: column; */
    display: grid;
    gap: 15px;

    transition: all 0.25s ease;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    background: #2a2a32;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.card button {
    margin-top: auto;
    /* притискає кнопки до низу */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card:hover {
    transform: scale(1.03);
    border: #7D8CC4 1px solid;
    z-index: 1;
}