.list {
    max-width: 2000px;
    margin: 0 auto;
    /* padding: 24px; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
}

.card {
    max-width: 320px;
    width: 100%;
    background: #1d1f1f;
    color: #c3e1f1;

    border: 1px solid rgba(255, 80, 80, 0.35);
    border-radius: 14px;

    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: all 0.25s ease;
}

.card:hover {
    transform: scale(1.03);
    border: rgb(119, 119, 202) 1px solid;
}