.image {
            width: 100%;
            height: 250px;
            object-fit: cover;
    /* margin: 12px auto; */
    transition: all 0.25s ease;
    border-radius: 4px;
}

.image:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 30px rgba(173, 216, 218, 0.19);
}

.title {
    height: 70px;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

.fullInfoTitle {
    cursor: pointer;
    background-color: rgb(146, 245, 245);
}

.fullInfoDiv {
    position: absolute;
    top: 445px;
    display: none;
    z-index: 1000;
    background-color: #2f2f34;
    border-radius: 4px;
}

.active {
    display: block;
}

.text {
    max-height: 30px;
}

.cardButton {
    background-color: #da4397;
}

.noInStock {
    background-color: grey;
}

.deleteFromCart {
    background-color: rgb(176, 41, 41);
}