.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all 0.25s ease;
    border-radius: 4px;
}

.image:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 30px rgba(173, 216, 218, 0.19);
}

.title {
    height: 70px;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

.fullInfoTitle {
    width: 140px;
    cursor: pointer;
    border: 1px solid #5C7A67;
    transition: all 0.3s ease;
}

.fullInfoTitle:hover {
    border-color: #C4D0C7;
    transform: translateY(-2px);
}

.fullInfoDiv {
    width: 320px;
    position: absolute;
    top: 490px;
    left: 0;
    display: none;
    z-index: 1000;
    /* background-color: #2f2f34; */
    background-color: #c8cec9;
    border-radius: 4px;
}

.active {
    display: block;
}

.text {
    max-height: 30px;
}

.cardButton {
    width: 140px;
    position: absolute;
    top: 423px;
    right: 15px;
    /* background-color: #da4397; */
    color: #ebefec;
    background-color: #5C7A67;
    transition: all 0.3s ease;
}

.cardButton:hover {
    color: #111814;
    background-color: #9fb9a5;
    transform: translateY(-2px);
    border: #5C7A67 1px solid;
}

.noInStock {
    background-color: grey;
}

.deleteFromCart {
    background-color: #599b75;
}

.cardButton:disabled {
    background-color: gray;
}


/*? Нові стилі */
.brand {
    width: 150px;
    text-align: start;
    color: #3f5647;
}

.type {
    width: 100px;
    position: absolute;
    top: 240px;
    right: 15px;
    border-radius: 9px;
    background: #c8cec9;
}

.title {
    text-align: start;
}

.price {
    text-align: start;
    font-weight: 700;
}

.usd {
    font-weight: 400;
}