.title {
    color: #c4e9f6;
}

.select {
  width: 250px;
  padding: 12px 16px;
  padding-right: 40px;

  background-color: #2e2e2e;
  color: #F5F7FA;

  border: 2px solid #ca3c9b;
  border-radius: 12px;

  font-size: 16px;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: .25s;
}

.select:hover {
  border-color: #3cb9ca;
}

.select:focus {
  outline: none;
  border-color: #f375c9;
  box-shadow: 0 0 0 4px rgba(124, 92, 255, .25);
}