.sorter {
    width: 100%;
        /* position: fixed; */
        /* top: 0;
        z-index: 1; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 30px;
}

.title {
    color: #c4e9f6;
    text-align: center;
}

.input {
    width: 250px;
    height: 50px;
    color: #e0d1f3;
    align-self: center;
    background: transparent;
    border: 1px solid #da4396c2;
    border-radius: 12px;
    outline: none;
}

.input:focus {
    animation: glow 2s linear infinite;
}

@keyframes glow {
    0% {
        border-color: #92F5F5;
        box-shadow: 0 0 5px #92F5F5;
    }

    50% {
        border-color: #DA4397;
        box-shadow: 0 0 12px #DA4397;
    }

    100% {
        border-color: #92F5F5;
        box-shadow: 0 0 5px #92F5F5;
    }
}

.form {
    display: flex;
    position: relative;
    background: #2e2e2e;
    border: 2px solid #76877D;
    border-radius: 3rem;
    padding: 0.5rem;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

.form input {
    display: none;
}

label {
    position: relative;
    padding: 0.6rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 600;
    color: #ddd;
    transition: color 0.3s ease-in-out;
    z-index: 2;
}

label:hover {
    color: #3cb9ca;
}

.active {
    color: #ade4ff;
}