.sorter {
    width: 100%;
        /* position: fixed; */
        /* top: 0;
        z-index: 1; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 30px;
}

.title {
    color: rgb(230, 230, 69);
    text-align: center;
}

.input {
    width: 200px;
    height: 35px;
    color: #e0d1f3;
    align-self: center;
    background: transparent;
    border: 1px solid rgb(146, 146, 42);
    border-radius: 4px;
    outline: none;
}

.input:focus {
    animation: glow 2s linear infinite;
}

@keyframes glow {
    0% {
        border-color: #ffd500;
        box-shadow: 0 0 5px #ffd500;
    }

    50% {
        border-color: #9b4dff;
        box-shadow: 0 0 12px #9b4dff;
    }

    100% {
        border-color: #ffd500;
        box-shadow: 0 0 5px #ffd500;
    }
}

.form {
    display: flex;
    position: relative;
    background: #212121;
    border-radius: 3rem;
    padding: 0.5rem;
    gap: 1rem;
    box-shadow: 0 0 20px #000 inset;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

.form input {
    display: none;
}

.form label {
    position: relative;
    padding: 0.6rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 600;
    color: #ddd;
    transition: color 0.3s ease-in-out;
    z-index: 2;
}

.form input:checked+label {
    color: #fff;
}

.form label:hover {
    color: rgb(119, 119, 202);
}