.title {
   color: #e2f7ff;
}

.toggleButton {
  color: #e2f7ff;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  width: 400px;
  height: 100vh;

  background: #151a2a;

  transform: translateX(-100%);
  transition: transform 300ms ease;
}

.isOpen {
  transform: translateX(0);
}