section {
    
    margin: 0 auto;
    margin: 20px 0px 20px 0px;
    background: rgba(245, 245, 247, .8);

     width: 100%;
  display: grid;

  grid-template-areas:
    "info info"
    "content list";

  grid-template-columns: 1fr 3fr;

  gap: 24px;

  /* background-color: dodgerblue; */
  padding: 5px;
}

.infoDiv {
    
    margin: 0 auto;
}

.nullTitle {
    color: #a25139;
    text-align: center;
}

.title {
    width: 250px;
    
        color: #00385d;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.titleTotalTypes {
    color: #76877D;
 text-align: center;
 margin-bottom: 20px;
}

.titleTotalModels {
    color: #76877D;
    text-align: center;
        margin-bottom: 40px;
}  

.infoDiv {
    width: 100%;
  grid-area: info;

  background-color: white;
  padding: 10px;
  text-align: center;
  /* outline: 1px solid gray; */
   border-radius: 12px;
}

.content {
  grid-area: content;

  background-color: white;
  padding: 10px;
  /* outline: 1px solid gray; */
   border-radius: 12px;
}

.list {
  grid-area: list;

  background-color: white;
  padding: 10px;
  /* outline: 1px solid gray; */
   border-radius: 12px;
}