section {
    /* max-width: 1440px; */
    margin: 0 auto;
    margin-bottom: 20px;
    background: rgba(245, 245, 247, .8);
}

.infoDiv {
    /* max-width: 1440px; */
    margin: 0 auto;
}

.nullTitle {
    color: #a25139;
    text-align: center;
}

.title {
    width: 250px;
    /* color: #e2f7ff; */
        color: #00385d;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.titleTotalTypes {
    color: #76877D;
 text-align: center;
 margin-bottom: 20px;
}

.titleTotalModels {
    color: #76877D;
    text-align: center;
        margin-bottom: 40px;
}